* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.result {
  grid-column: 1/ span 4;
  background-color: #858693;
  text-align: right;
  justify-self: end;
  font-size: 2rem;
  width: 100%;
  padding: 15px;
}

.calculate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px;
}

.operator {
  background-color: #f5913f;
}

.number-zero {
  grid-column: 1/ span 2;
}

.calculate * {
  padding: 30px 0;
  font-size: 1.5rem;
}
